*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:link,
a:visited,
a:active {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

section {
  padding: 100px 0;
}

.page-tit {
  text-align: center;
  padding: 50px 0;
}

#source {
  max-width: 780px;
  padding-bottom: 50px;
  margin: 0 auto;
}

#newsList {
  padding: 0 20px;
}

#newsList li {
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 780px;
  padding: 20px;
  margin: 0 auto;
}

#newsList li:not(:last-child) {
  margin-bottom: 50px;
}

#newsList li .info {
  width: calc(100% - 100px);
  padding-right: 20px;
}

#newsList li .img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

#newsList li .description {
  display: none;
  width: 100%;
  padding: 20px 0;
}

#newsList li .description.show {
  display: block;
}

#newsList li .post {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
}

#newsList li .toggle {
  width: 30px;
  height: 30px;
  position: relative;
}

#newsList li .toggle::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  width: 12px;
  height: 12px;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all .3s ease-out;
}

#newsList li .toggle.active::before {
  top: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(225deg);
}